.nav .nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    padding-right: 15px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #ccc;
    font-size: larger;
    margin: 4%;
    color:black;
}

.nav-tabs .nav-link.active {
    background-color:rgba(2, 167, 240, 0.6) !important;
    border-color: transparent !important;
    font-size: larger;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
    background: rgba(129, 211, 248, 0.6);
}
.tab-content>.active {
    display: block;
    height: 85.5vh;
}
.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    height: 85.5vh;
    border: 2px solid black;
    border-bottom: 0;
    position: fixed;
}

.nav-link {
    padding: 1.5rem 1.5rem;
}

#addTest {
    border-radius: 50%;
    position:fixed;
    bottom:5px;
    right:5px;
    margin:2%;
  }
.button {
  background-color: #007CC3;
  border: none;
  color: white;
  padding: 5px 17px;
  font-size: 40px;
  cursor: pointer;
  border-radius: 50%
}

thead th {
    vertical-align: bottom;
    border: 2px solid black;
    width: 16.66%;
}

.table-bordered td, .table-bordered th{
    border: 2px solid black;
}
.tab { 
    display: inline-block; 
    margin-left: 40%; 

}

input {
    border:none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
 }

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }

 #labels{
     font-size: large
 }