.manageTest {
  border-radius: 4px;
  /* background-color: #f4511e; */
  border: none;
  /* color: black; */
  text-align: center;
  /* font-size: 28px; */
  padding: 0;
  /* width: 200px; */
  /* transition: all 0.5s; */
  cursor: pointer;
  /* margin: 5px; */
}
  
  .manageTest span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    /* transition: 0.5s; */
  }
  
  .manageTest span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    /* right: -10px; */
    /* transition: 0.5s; */
  }
  
  .manageTest:hover span {
    padding-right: 15px;
  }
  
  .manageTest:hover span:after {
    opacity: 1;
    right: 0;
  }

#addSamplesScreen {
    border-radius: 50%;
    position:fixed;
    bottom:5px;
    right:5px;
    margin:2%;
  }
.button {
  background-color: #007CC3;
  border: none;
  color: white;
  padding: 5px 17px;
  font-size: 40px;
  cursor: pointer;
  border-radius: 50%
}
  
  /* .navbar-header{

    float:none !important;
    } */
  
  /* .header{
    text-align: center;
    background-color:#007CC3;
    width: 100%;
    color: white;
    font-size: x-large;
    height:auto;
    border-radius: 0px;
    margin: 0px;
    } */
  
  
        table > tbody > tr {
            border-bottom: 1px solid red !important;
            border-radius: 10%;
            padding: 10%;
          }
  
          .pageHead{
              background: #03a7f0;
              color:white;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }
          
          .tabs {
            margin: 0 auto;
            padding: 0 20px;
            width: 90%;
          }
          #tab-button {
            display: table;
            table-layout: fixed;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
          }
          #tab-button li {
            display: table-cell;
            width: 20%;
          }
          #tab-button li a {
            display: block;
            padding: .5em;
            background: #eee;
            border: 1px solid #ddd;
            text-align: center;
            color: #000;
            text-decoration: none;
          }
          #tab-button li:not(:first-child) a {
            border-left: none;
          }
          #tab-button li a:hover,
          #tab-button .is-active a {
            border-bottom-color: transparent;
            background: #66c7ff;
            color:white;
          }y
          .tab-contents {
            padding: .5em 2em 1em;
          }
                  
          .tab-button-outer {
            display: none;
          }
          @media screen and (min-width: 768px) {
            .tab-button-outer {
              position: relative;
              z-index: 2;
              display: block;
            }
            .tab-select-outer {
              display: none;
            }
          }
  
  
          .spacing-table {
            font-family: 'Helvetica', 'Arial', sans-serif;
            font-size: 20px;
            border-collapse: separate;
            table-layout: fixed;
            width: 100%;
            border-spacing: 0 5px;
            border: none
          }
          .spacing-table th {
            text-align: left;
          }
          .spacing-table td {
            border-width: 3px 0;
            width: 50%;
            border-color: #dee2e6;
            border-style: solid;
            color: black;
            padding: 8px 13px 0px;
          }
          .spacing-table td:first-child {
            border-left-width: 3px;
            border-radius: 5px 0 0 5px;
          }
          .spacing-table td:last-child {
            border-right-width: 3px;
            border-radius: 0 5px 5px 0;
          }
          .spacing-table thead {
            display: table;
            table-layout: fixed;
            width: 100%;
          }
          .spacing-table tbody {
            display: table;
            table-layout: fixed;
            overflow-y: auto;
            width: 100%;
            border-spacing: 0 10px;
          }
          .table-bordered td, .table-bordered th {
            font-size: unset;
        }

        .table-bordered th {
          border: 0px solid #dee2e6;
        }

        .manageTest {
          border-radius: 4px;
          border: none;
          text-align: center;
          color: #2980b9;
          width: inherit;
          transition: all 0.5s;
          font-size: 100%;
          font-weight: 400;
          cursor: pointer;
          margin: 5px;
          float: right;
      }
        
        .manageTest span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
        }
        
        .manageTest span:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }
        
        .manageTest:hover span {
          padding-right: 25px;
        }
        
        .manageTest:hover span:after {
          opacity: 1;
          right: 0;
        }
        
        