.nav .nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    padding-right: 15px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #ccc;
    font-size: larger;
    margin: 4%;
    color:black;

}

.nav-tabs .nav-link.active {
    background-color:rgba(2, 167, 240, 0.6) !important;
    border-color: transparent !important;
    font-size: larger;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
    background: rgba(129, 211, 248, 0.6);
}
.tab-content>.active {
    display: block;
    height: 85.5vh;
}
.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    height: 85.5vh;
    border: 2px solid black;
    border-bottom: 0;
}

.nav-link {
    padding: 1.5rem 3rem;
}

#addTest {
    border-radius: 50%;
    position:fixed;
    bottom:5px;
    right:5px;
    margin:2%;
  }
.button {
  background-color: #007CC3;
  border: none;
  color: white;
  padding: 5px 17px;
  font-size: 40px;
  cursor: pointer;
  border-radius: 50%
}

.form-control{
    width:-webkit-fill-available;
}